$white: #ffffff;
$black: #000000;
$blue: #477dca;
$grey-dark: #333;
$pc-grey: #939598;
$grey-medium: #999;
$grey-light: #ddd;
$pc-blue: #355778;

.pc {
	padding: 10px 0;
	position: sticky;
	top: 0;
	background-color: $white;
	font-family: MetricWeb, sans-serif;
	z-index: 20;

	@include mq($m) {
		padding: 5px 0;
	}
}

.pc-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mq($m) {
	}
}

.pc__client {
	color: $pc-grey;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	max-width: 15%;
	flex-basis: 15%;

	@include mq($m) {
		max-width: 33.33%;
		flex-basis: 33.33%;
	}
}

.pc__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $pc-blue;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 60%;
	flex-basis: 60%;
	font-family: MetricWeb, sans-serif;
	@include mq($m) {
		flex-direction: row;
		font-size: 25px;
		max-width: 33.33%;
		flex-basis: 33.33%;
	}

	.pc__client-title {
		color: #939598;
		line-height: 1;
		font-weight: 600;
	}
}

.pc__client-title {
	font-family: MetricWeb, sans-serif;

	.pc__client & {
		display: none;
	}
	@include mq($m) {
		.pc__client & {
			display: block;
		}
		.pc__title & {
			display: none;
		}
	}
}

.pc__title-content {
	font-size: 20px;
	line-height: 1;
	position: relative;
	@include mq($m) {
		.pc__title-button {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(35px, -50%);
			display: flex;
		}
	}
}

.pc__title-button {
	cursor: pointer;
	display: none;
	@include mq($m) {
		display: block;
		margin: 0 10px;
	}

	img {
		max-height: 23px;

		@include mq($m) {
			max-height: 17px;
		}
	}
}

.pc__client-disclaimers {
	display: block;

	@include mq($m) {
		display: none;
	}

	.pc__title-button {
		display: flex;
	}
}

.pc__share {
	color: $pc-grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	max-width: 15%;
	flex-basis: 15%;
	@include mq($m) {
		max-width: 33.33%;
		flex-basis: 33.33%;
	}
}
.pc__share-content {
	display: none;
	@include mq($m) {
		margin-right: 10px;
		display: block;
	}
}
.pc__share-btn {
	display: flex;
	img {
		max-height: 23px;
	}
}

.pc__disclaimer {
	position: absolute;
	background: $white;
	display: none;
	box-shadow: 0 1px 4px rgba(77, 72, 69, 0.15), 0 8px 14px rgba(77, 72, 69, 0.2);
	top: 55px;
	max-width: 325px;
	width: 100%;
	right: 50%;
	transform: translate(50%, 0px);
	padding: 10px 16px;
	text-align: center;

	@include mq($m) {
		right: 50%;
		transform: translate(50%, 50px);
		max-width: initial;
		width: initial;
		top: -3px;
	}
}

.pc__disclaimer-btn {
	position: absolute;
	cursor: pointer;
	right: 5px;
	top: 0;

	img {
		height: 10px;
	}
}

.pc__disclaimer-content {
	font-family: MetricWeb, sans-serif;
	@include mq($m) {
		white-space: nowrap;
		padding: 10px 25px;
	}
}

.pc__disclaimer-content-link {
	color: #3a8ce2;
	font-weight: 500;
	text-decoration: none;
}

.pc__share-btn {
}

.pc__share-more {
	background: $white;
	display: none;
	z-index: 11;
	display: none;
	width: 100%;
	left: 0;
	height: calc(100vh - 55px);
	position: fixed;
	bottom: 0;
	border: 1px solid #e1e1e1;
	box-shadow: 0 1px 4px rgba(77, 72, 69, 0.15), 0 8px 14px rgba(77, 72, 69, 0.2);

	@include mq($m) {
		position: absolute;
		right: 20px;
		bottom: -122px;
		height: initial;
		left: initial;
		width: initial;
	}
}

.pc__share-more-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	@include mq($m) {
		flex-direction: row;
		padding: 15px 20px;
	}
}

.pc__share-more-link-btn-content {
	@include mq($m) {
		display: none;
	}
}

.pc__share-more-btn__link {
	margin-bottom: 50px;

	@include mq($m) {
		margin-bottom: 0;

		&.-wa {
			display: none;
		}
	}
}

.pc__share-more-close {
	position: absolute;
	cursor: pointer;
	right: 10px;
	top: 10px;

	@include mq($m) {
	}

	img {
		height: 25px;
		width: 25px;
		@include mq($m) {
			height: 15px;
			width: 15px;
		}
	}
}

.pc__share-more-title {
	text-align: center;
	color: $pc-grey;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 33px;
	padding-top: 30px;
	margin-bottom: 20px;

	@include mq($m) {
		font-size: 20px;
		padding-top: 10px;
		margin-bottom: 0;
	}
}

.pc__share-more-link-btn {
	text-align: center;
	display: flex;
	flex-direction: column;

	@include mq($m) {
		display: block;
	}
	&.-fb {
	}
}
.pc__share-more-link-btn-img {
	display: flex;
	justify-content: center;
	align-self: center;
	margin-bottom: 5px;

	@include mq($m) {
		margin: 0 15px;
	}
	img {
		max-width: 60px;

		@include mq($m) {
			max-width: 40px;
		}
	}
}
.pc__share-more-link-btn-content {
	color: #888888;
}

.tooltip-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 100%;
	background: #ccc;

	.progress-bar {
		height: 5px;
		background: $pc-blue;
		width: 0;
		-webkit-transition: width 0.2s ease-in;
		transition: width 0.2s ease-in;
	}
}

.paidPost {
	border-top: 1px solid black;
	border-bottom: 4px solid green;
	padding: 10px 0;
	position: relative;
	z-index: 12;
	background: white;
	width: 100%;
	.wrap {
		padding: 0;

		@include mq($l) {
			padding: initial;
		}
	}

	.wrapper {
	}
}

.paidPost-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	@include mq(n, $l) {
		&:before {
			display: none;
		}
	}
}

.paidPost-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	max-width: 27.5%;
	flex-basis: 27.5%;

	@include mq($l) {
		max-width: 33.33%;
		flex-basis: 33.33%;
	}
}

.paidPost-container-share__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;

	@include mq($l) {
		margin-bottom: 0;
	}

	&.-copy {
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	span {
		display: block;
		font-weight: 100;
		color: #626262;
		font-size: 15px;

		@include mq($l) {
			display: none;
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.paidPost-container-share__item-img {
	max-width: 60px;
	@include mq($l) {
		max-width: 40px;
		margin: 0 8px;
	}

	.content-cta__share & {
		object-fit: contain;
		max-height: 16px;
	}
}

.paidPost-container-title {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include mq($m) {
		position: absolute;
		right: 50%;
		transform: translateX(50%);
	}

	button {
		background-color: transparent;
		border: 2px solid #ccc;
		border-radius: 100%;
		padding: 0px 6px;
		margin-right: 5px;
		color: #ccc;
		font-family: MetricWeb, sans-serif;
		outline: none;
		cursor: pointer;
	}
	@include mq($l) {
	}

	span {
		font-family: MetricWeb, sans-serif;
		@include mq($m) {
			font-size: 15px;
		}
	}

	img {
		max-height: 25px;
		margin-left: 10px;

		@include mq($l) {
			max-height: 35px;
		}
	}
}

.share-globe {
	img {
		max-height: 24px;
		max-width: 24px;
	}
}

.paidPost-container-share {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.paidPost-container-share__icon {
	position: relative;
	cursor: pointer;

	img {
		max-width: 24px;
		max-height: 24px;
		cursor: pointer;
	}
}

.paidPost-container-share__icons {
	background-color: transparent;
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mq($l) {
		box-shadow: -5px 10px 25px 0px rgba(0, 0, 0, 0.75);
	}
}

/*New*/

.paidPost-container-share__content-share {
	font-family: $font-lato;
	color: $heading !important;
}

.paidPost-container-share {
	position: relative;
}

.paidPost-container-share__icons {
	background-color: $white;
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	flex-direction: column;
	padding: 20px 0;

	@include mq($l) {
		position: absolute;
		top: 45px;
		width: initial;
		height: initial;
		padding: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.-init-share & {
		display: flex;
	}
}

.paidPost-container-share__iconWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	@include mq($l) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 50%;
	}
}

.paidPost-container-share__content {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 25px;

	@include mq($l) {
		position: relative;
		margin-bottom: 0;
	}

	span {
		text-transform: uppercase;
		color: $grey;
		font-size: 25px;

		@include mq($l) {
			font-size: 16px;
		}
	}

	img {
		max-width: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
		@include mq($l) {
			max-width: 15px;
			top: initial;
		}
	}
}

.paidPost__disclaimer {
	position: absolute;
	max-width: 300px;
	background: white;
	font-size: 15px;
	padding: 10px;
	bottom: -85px;
	right: 50%;
	transform: translateX(50%);
	font-family: $font-lato;
	text-align: center;
	display: none;

	&.-show {
		display: block;
	}
}
